
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Download</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <p>如果无法下载，请点击下面下载。</p>
        <a href="http://47.94.131.193/Download/chess.apk" class="btn btn-primary btn-lg" style="position:absolute; margin-left:596px; margin-top:424px; width:200px">点击下载 &raquo;</a>
    </div>
</body>
</html>
