
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Download</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div style="width:1024px; height:768px; margin:auto;">
        <a href="http://www.kawumei.com/Download/chess.apk" class="btn btn-primary btn-lg" style="position:absolute; margin-left:596px; margin-top:424px; width:200px">下载安卓版 &raquo;</a>
        <a href="https://fir.im/kawumei" class="btn btn-primary btn-lg" style="position:absolute; margin-left:596px; margin-top:500px; width:200px">下载IOS版 &raquo;</a>
        <img src="~/Images/face.jpg" />
    </div>
</body>
</html>